# Copy everything from your .gitignore file here

# Additional ignores specific to EAS builds

# Ignore native directories (if you are using EAS Build)
/android
/ios
/node_modules
/server
/images
README.md
/.idea

# Ignore test coverage reports
/coverage
